@import url(http//fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
  background-color: #000;
}
/*social-buttons*/
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
  position: fixed;
  right: 10px;
  z-index: 200;
}
.social-icon {
  color: #fff;
}
ul.social-icons { 
  position: fixed;
  top: 130px;
  right: 0px;
  font-size: 17px
}
.social-icons li {
 vertical-align: top;
 list-style: none;
}
.social-icons a {
  color: #fff; 
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px 6px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #fb0347;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-instagram {
  padding: 10px 10px 10px 11px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #fb0347;
}
.fa-instagram:hover {
  background-color: #b30086;
}
.fa-youtube {
  padding:10px 10px 7px 11px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #fb0347;
}
.fa-youtube:hover {
  background-color: #ff0000;
}
.pull-right {
  float: right;
}
/*navigation bar*/
.navbar {
  font-size: 15px;
  list-style-type: none;
  margin-bottom: 0 !important;
  overflow: hidden;
  background:#fb0347;
  position: fixed;
  left: 0;
  width: 100%;
  height: 130px;
  border-style: none;
  z-index: 200;
}
.navbar-inverse .navbar-nav li a {
  color:#fff;
  font-size: 20px
}
.navbar-inverse .navbar-nav>li>a:hover:not(.active) {
  color:  #fb0347;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
}
}
.nav {
  font-size: 5px;
  text-align: center;
  background-color: #000;
  position: fixed;
  right: 20px;
  top: 0;
  width: 100%;
  z-index: 200;
}
@media only screen and (min-width : 747px) {
  .nav {
    position: fixed;
    left: 30%;
    right: auto;
    top: 10%;
    width: 100%;
    z-index: 200;
  }
}
.nav li a {
  color:#fff;
  position: relative;
  display: block;
  padding: 5px 4px;
}
.navbar-brand>img {
  height: 80px;
  width: 220px;
  margin: 0 auto;
  position: fixed;
  left: 3%;
  right: auto;
  top: 3%;
}
.span {
 color: #fb0347;
 margin-left: 1px;
}
.navbar-toggle {
  background-color: #fb0347;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

/*footer for every page*/
.quote {
  color:#999999;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  padding-bottom: 5px;
  margin-right: 3%;
}
.quoteWhite {
  color:#fff;
  font-style: none;
  font-size: 20px;
}
.quotepink {
  color:#fb0347;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  padding-top: 5px;
  cursor: pointer;
}
.quotepink:hover:not(.active) {
  color:  #fff;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
  }
.carousel-wrapper{
  min-width: 300px;
  width: calc((100vh - 130px - 20px) * 1.5);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 130px;
}
.section {
 padding-top: 130px;
}
.section6 {
 padding-top: 130px;
 min-height: 100vh;
}
.header-circle {
  max-width: 100%;
  height: 110px;
}
.header-circleWho {
  max-width: 100%;
  height: 180px;
  padding: 10px;
}
.col-lg-6 {
  width: 50%;
  padding: 0;
} 
.col-lg-6 >.pull-right,.pull-left {
  padding-top: 10px;
}
img {
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width : 750px) {
  .navbar-inverse .navbar-nav>li>a {
    color:#fff;
    font-size: 10px;
    position: static;
    display: inline-block;
  }
  .navbar {
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: black;
    position: static;
    top: 0 auto;
    width: 100%;
    height: 100%;
    border-style: none;
    z-index: 200;
  }
  body {
   padding-top: 37px;
   background-color: #000;
 }
 .navbar-brand>img {
  height: 60px;
  width: 150px;
  position: absolute;
  top: 13px;
  left: 15px;
}
.quote {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
}
.quoteWhite {
  color:#fff;
  font-style: none;
  font-size: 15px;
}
.row .col-lg-6 > .pull-right {
  float: none !important;
  padding-top: 10px;
}
.row .col-lg-6 > .pull-left {
  float: none !important;
  padding-top: 0;
}
.col-sm-12 {
  width: 100%;
  padding: 0;
}
.header-circle {
 width: 220px;
 height: 110px;
}
.header-circleWho {
 width: 100px;
 height: 100px;
 padding-bottom: 10px;
 margin-right: 35%;
}
.section {
  padding-top: 120px;
  min-height: 50vh;
}
.carousel-wrapper {
  min-width: 300px;
  width: calc((100vh - 130px - 20px) * 1.5);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 0;
}
}

img {
  margin: 0 auto;
  display: block;
}

.contact-button {
  background-color: #fb0347;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 250;
}

.contact-background-img {
  position: relative;
  left: 50;
}

.thumbnail {
  position: relative;
}

.contact-text {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  text-align: center;
}


