@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


body {
  background: url(images/FL+ROR_190716_Marsden_41.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
  position: fixed;
  right: 10px;
}

.social-icon {
  color: #fff;
}

ul.social-icons { 
  
  
  position: absolute;
  top: 0.5px;
  right: 0px;
  font-size: 17px

}

.social-icons li {
 vertical-align: top;
 list-style: none;

}

.social-icons a {
  color: #fff; 
  text-decoration: none;
}


.fa-facebook {
  padding:10px 14px 6px 14px;
  
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #f50057 ;
  
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #f50057;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-youtube {
  padding:10px 10px 7px 11px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background: #f50057;
  
}

.fa-youtube:hover {
  background-color: #ff0000;
}

.pull-right {
  float: right !important;
}

.navbar {
  
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: black;
  height: 130px;
  border-style: none;
  
}

.navbar-inverse .navbar-nav>li>a {
  color:#fff;
  font-size: 20px
}
.nav {

  position: fixed;
  left: 400px;
  top: 70px;
}

.nav li a {
  color:#fff;
  position: relative;
  display: block;
  padding: 5px 4px;
}

span {
  color: red;
}